@if (wordsToGuess().length) {
    <div class="game" [ngClass]="gameTypeCssClass()">
        @for (wordToGuess of wordsToGuess(); track wordToGuess; let i = $index) {
            <app-board [lineNumber]="lineNumber"
                       [wordToGuess]="wordToGuess"
                       [boardNumber]="i"
                       [ngClass]="gameTypeCssClass()"
                       (gameOver)="handleGameOver($event)">
            </app-board>
        }
    </div>
    <div class="footer" [ngClass]="gameTypeCssClass()">
        @if (wordsToGuess().length === boardGameOvers().length) {
            <app-game-over [wordsToGuess]="wordsToGuess()" [boardGameOvers]="boardGameOvers()"></app-game-over>
            <button type="button" class="new-game" (click)="startNewGame()">Új játék</button>
        } @else {
            <app-keyboard [wordsToGuess]="wordsToGuess()" [ngClass]="gameTypeCssClass()"></app-keyboard>
        }
    </div>
}
