@use "media-queries";
@use "mixins";
@use "colors";

.game {
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto 0;
    width: 100%;
    overflow: hidden;
    justify-content: center;

    &.wordle {
        height: 400px;

        @include media-queries.tablet-size {
            margin: 100px auto 0;
        }
    }

    &.dordle {
        height: 330px;

        @include media-queries.large-mobile-size {
            height: 350px;
        }

        @include media-queries.tablet-size {
            margin: 100px auto 0;
            height: 420px;
        }
    }

    &.quordle {
        margin: 30px auto 0;
        height: 530px;

        @include media-queries.large-mobile-size {
            height: 560px;
        }

        @include media-queries.tablet-size {
            margin: 80px auto 0;
            width: 500px;
            height: 600px;
        }

        @include media-queries.small-desktop-size {
            margin: 100px auto 0;
            width: 600px;
            height: 620px;
        }

        @include media-queries.large-desktop-size {
            width: 100%;
            height: 420px;
        }
    }
}

.footer {
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    padding: 16px 4px;

    &.wordle {
        top: 450px;

        @include media-queries.tablet-size {
            top: 500px;
        }
    }

    &.dordle {
        top: 380px;

        @include media-queries.large-mobile-size {
            top: 400px;
        }

        @include media-queries.tablet-size {
            top: 550px;
        }
    }

    &.quordle {
        top: 560px;

        @include media-queries.large-mobile-size {
            top: 600px;
        }

        @include media-queries.tablet-size {
            top: 680px;
        }

        @include media-queries.small-desktop-size {
            top: 720px;
        }

        @include media-queries.large-desktop-size {
            top: 520px;
        }
    }

    button.new-game {
        @include mixins.button;
        display: block;
        margin: 20px auto 50px;
    }
}

