@use "media-queries";
@use "mixins";
@use "colors";

.home {
    width: 320px;
    color: colors.$white;
    padding: 50px 20px;
    margin: 0 auto;
    text-align: center;

    @include media-queries.media(tablet) {
        width: 700px;
    }

    h1 {
        margin-bottom: 50px;
    }

    span.green {
        font-weight: bold;
        color: colors.$green;
    }

    span.yellow {
        font-weight: bold;
        color: colors.$yellow;
    }

    h3 {
        margin: 50px auto 30px;
    }

    a {
        text-decoration: none;
        font-weight: bold;
        color: colors.$light-grey;

        &:hover {
            color: colors.$middle-grey;
        }
    }

    form {

        label {
            display: flex;
            justify-content: flex-start;
            width: 160px;
            margin: 16px auto;
            padding-left: 24px;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .radio-btn {
            height: 20px;
            width: 20px;
            margin-right: 10px;
            background-color: colors.$white;
            border-radius: 50%;
            position: relative;

            &:after {
                content: "";
                position: absolute;
                display: none;
            }

            &:hover {
                background-color: colors.$light-grey;
            }
        }

        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;

            &:checked {

                & ~ .radio-btn {

                    &:after {
                        display: block;
                        top: 3px;
                        left: 3px;
                        width: 14px;
                        height: 14px;
                        border-radius: 50%;
                        background: colors.$dark-green
                    }
                }
            }
        }
    }

    button {
        @include mixins.button;
    }
}
