<div class="home">
    <h1>Wordle</h1>
    <p>A Wordle szójátékban egy ötbetűs szót kell legfeljebb 6 próbálkozásból kitalálnod.
        <span class="green">Zöld</span> szín jelzi, ha egy betű jó helyre került, <span class="yellow">sárga</span>, ha
        van olyan betű a szóban, de máshol. Nehezített változataiban 2, 4 (vagy akár 8) szót kell megfejteni egyszerre.
    </p>
    <p>Itt most magyar szavakkal játszhatsz.</p>
    <p>Az eredeti angol Wordle-t a
        <a href="https://www.nytimes.com/games/wordle/index.html">The New York Times</a> oldalán találod.
    </p>
    <h3>Hány feladványt kérsz?</h3>
    <form>
        <label for="wordle">
            <input type="radio" id="wordle" [value]="gameTypeEnum.WORDLE" [formControl]="control">
            <span class="radio-btn"></span>
            1 ("Wordle")
        </label>
        <label for="dordle">
            <input type="radio" id="dordle" [value]="gameTypeEnum.DORDLE" [formControl]="control">
            <span class="radio-btn"></span>
            2 ("Dordle")
        </label>
        <label for="quordle">
            <input type="radio" id="quordle" [value]="gameTypeEnum.QUORDLE" [formControl]="control">
            <span class="radio-btn"></span>
            4 ("Quordle")
        </label>
    </form>
    <button type="button" (click)="startGame()">Játék indítása</button>
</div>
