@mixin small-mobile-size {
    @media screen and (max-width: 405px) {
        @content;
    }
}

@mixin large-mobile-size {
    @media screen and (min-width: 406px) {
        @content;
    }
}

@mixin tablet-size {
    @media screen and (min-width: 606px) {
        @content;
    }
}

@mixin small-desktop-size {
    @media screen and (min-width: 900px) {
        @content;
    }
}

@mixin large-desktop-size {
    @media screen and (min-width: 1200px) {
        @content;
    }
}
