@use "colors";

@mixin letter($width, $height, $margin, $font-size, $line-height) {
    width: $width;
    height: $height;
    margin: $margin;
    font-size: $font-size;
    line-height: $line-height;
}

@mixin button {
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    padding: 16px 20px;
    background-color: colors.$dark-green;
    color: colors.$white;
    font-size: 18px;
    font-weight: bold;

    &:hover {
        cursor: pointer;
        background-color: colors.$hover-green;
    }
}
