@use "colors";
@use "media-queries";

.keyboard {
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    position: relative;

    @include media-queries.media(tablet) {
        margin: 50px auto;
        width: 450px;
    }

    @include media-queries.media(low-res) {
        margin: 0 auto;
    }

    .key {
        position: relative;
        margin: 5px;
        width: 36px;
        height: 36px;
        border-radius: 5px;

        @include media-queries.media(tablet) {
            width: 40px;
            height: 40px;
        }

        @include media-queries.media(low-res) {
            width: 36px;
            height: 36px;
        }

        .background {
            width: 100%;
            height: 100%;
            display: flex;
            flex-wrap: wrap;

            span {
                width: 18px;
                height: 18px;
                background-color: colors.$white;

                @include media-queries.media(tablet) {
                    width: 20px;
                    height: 20px;
                }

                @include media-queries.media(low-res) {
                    width: 18px;
                    height: 18px;
                }

                &.top-left {
                    border-top-left-radius: 5px;
                }

                &.top-right {
                    border-top-right-radius: 5px;
                }

                &.bottom-left {
                    border-bottom-left-radius: 5px;
                }

                &.bottom-right {
                    border-bottom-right-radius: 5px;
                }

                &.yellow {
                    background-color: colors.$yellow;
                }

                &.green {
                    background-color: colors.$green;
                }

                &.grey {
                    background-color: colors.$light-grey;
                }
            }
        }

        button.keyboard-btn {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            border: none;
            border-radius: 5px;
            background-color: transparent;
            font-weight: bold;
            font-size: 17px;
            line-height: 36px;
            text-align: center;
            cursor: pointer;
            color: colors.$dark-grey;
        }
    }

    button.delete, button.submit {
        position: absolute;
        bottom: 5px;
        width: 50px;
        height: 36px;
        border: none;
        border-radius: 5px;
        background-color: colors.$white;
        color: colors.$dark-grey;
        line-height: 40px;
        font-size: 22px;
        font-weight: bold;
        text-align: center;
        cursor: pointer;

        @include media-queries.media(tablet) {
            width: 64px;
            height: 40px;
            font-size: 24px;
            line-height: 44px;
        }

        @include media-queries.media(low-res) {
            width: 58px;
            height: 36px;
            line-height: 40px;
            font-size: 22px;
        }
    }

    button.delete {
        left: 6px;

        @include media-queries.media(low-res) {
            left: 22px;
        }
    }

    button.submit {
        right: 6px;

        @include media-queries.media(low-res) {
            right: 22px;
        }
    }

}

:host.quordle .keyboard {

    @include media-queries.media(small-mobile) {

        .key {
            width: 28px;
            height: 28px;
            font-size: 16px;

            .background span {
                width: 14px;
                height: 14px;
            }

            button.keyboard-btn {
                line-height: 28px;
            }
        }

        button.delete, button.submit {
            width: 48px;
            height: 28px;
            line-height: 32px;
        }

        button.delete {
            left: 7px;
        }

        button.submit {
            right: 7px;
        }
    }

}
