@use "colors";

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: colors.$dark-grey;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
